{
 :paths ["src"]
 :deps {
        org.clojure/clojure { :mvn/version "1.11.1" }
        org.clojure/data.json { :mvn/version "2.4.0" }
        org.clojure/core.async { :mvn/version "1.6.673" }
        slingshot/slingshot { :mvn/version "0.12.2" }
        ring/ring-jetty-adapter { :mvn/version "1.9.6" }
        metosin/reitit { :mvn/version "0.5.5" }

        org.fudo/fudo-clojure {
                               :git/url "https://git.fudo.org/fudo-public/fudo-clojure.git"
                               :git/sha "c605ec9719600566f7635e452283629682cd4f76"
                               }
        org.fudo/objectifier-client {
                                     :git/url "https://git.fudo.org/fudo-public/objectifier-client.git"
                                     :git/sha "d4b5ecc0f98aa8168ca3ef13e182c688591298ae"
                                     }
        org.fudo/milquetoast {
                              :git/url "https://git.fudo.org/fudo-public/milquetoast.git"
                              :git/sha "8f71590fd8d63a0a7ab45a46ae6a7a1eee99f16f"
                              }
        }
 }
